<LINK REL=StyleSheet HREF="style.css">
<div class="survey">
	<h1>Movie Trivia Game!</h1>
	<h3>Please Enter a Word to Search for Movies!</h3>

	<form action="/posters" method="POST"> 

		<input type="search" name="movie_search" placeholder="Brothers (Step Brothers, Four Brothers, etc)" class="search"> 
	</form>
</div>

