<h1>Movie Trivia Game!</h1>
<h3>Please Enter a Word to Search for Movies!</h3>

<form action="/posters" method="POST"> 

	<input type="search" name="movie_search" placeholder="Brothers (Step Brothers, Four Brothers, etc)"> 

	<br><br>
	<button type="submit" name="operation" value="search">SEARCH</button>
</form>